@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All" class="text-light"></div>
	<div class="agileits-top">
		<form asp-action="SendResetPasswordUrl">
			<input class="text email" type="email" asp-for="Email" placeholder="Email" required="">
			<p></p>
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
