@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All" class="text-light"></div>
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			<input class="text" type="password" asp-for="Password" placeholder="Password" required="">
			<input class="text" type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required="">
			<p></p>
			<input type="submit" value="Reset Password">
		</form>
		<p>Do You have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>


