@model UserViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="form-group">
    <label asp-for="Id" class="col-form-label">Name</label>
    <input readonly asp-for="Id" type="text" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="FirstName" class="col-form-labe">Age</label>
    <input readonly asp-for="FirstName" type="text" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="LastName" class="col-form-labe">Address</label>
    <input readonly asp-for="LastName" type="text" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Email" class="col-form-labe">Email</label>
    <input readonly asp-for="Email" type="text" class="form-control" />
</div>

