@model RoleViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="form-group">
    <label asp-for="Id" class="col-form-label">Id</label>
    <input readonly asp-for="Id" type="text" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Name" class="col-form-labe">Name</label>
    <input readonly asp-for="Name" type="text" class="form-control" />
</div>


